<!--The content below is only a placeholder and can be replaced.-->
<!-- <form [formGroup]="myform" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="myform" role="form">
  <mat-card class="example-card">

    <mat-card-title>
      Test Generator
    </mat-card-title>
    <mat-card-content class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Test Server" formControlName="testServerAddress">
          <!-- <mat-option *ngFor="let ip of ips" [value]="ip.viewValue"> -->
          <mat-option *ngFor="let ip of ips" [value]="ip">
            {{ip}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Project" formControlName="project">
          <mat-option *ngFor="let project of projects" [value]="project">
            {{project}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Stage" formControlName="stage">
          <mat-option *ngFor="let stage of stages" [value]="stage">
            {{stage}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Serial" formControlName="serial" required>
        <!-- <mat-error *ngIf="serial.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      <br>

      
      <!-- <mat-form-field> -->
        <!-- <div> -->
          <div class="errormsg">{{errorMsg}}</div>
          <button style="float: right;" mat-raised-button color="primary" (click)="doPost()">Submit</button>
        <!-- </div> -->
      <!-- </mat-form-field> -->
    </mat-card-content>
  </mat-card>
</form>
